<div class="resume_left">

  <div class="balkaup">

    <div class="title">
      <h1>Noel Taylor</h1>

      <div class="text">
        <p>Graphic & Web Designer</p>
      </div>

      <div class="balka_img">
        <img src="/img/man.png" alt="Profile Image">

      </div>

    </div>

  </div>
  <div class="text_b">
    <div class="cont_my">
      <i class="fa-solid fa-circle-user fa-2xl"></i>
      <h3>CONTACT ME</h3>
    </div>
    <div class="telephone">
      <i class="fa-sharp fa-solid fa-phone-volume fa-2xs"></i>
      <p>+1-718-310-5588</p>
    </div>
    <div class="internet">
      <i class="fa-solid fa-globe fa-xs"></i>
      <p>www.yourwebsite.com</p>
    </div>
    <div class="adr_">
      <i class="fa-solid fa-location-dot fa-sm"></i>
      <p>769 Prudence, Lincoln Park, MI</p>
    </div>
  </div>
  <div class="balkadawn">
    <div class="text_b_d">
      <div class="education">
        <div class="job-label" style="margin-bottom: 10px">
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-mortarboard" viewBox="0 0 16 16">
            <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917zM8 8.46 1.758 5.965 8 3.052l6.242 2.913z"/>
            <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46z"/>
          </svg>
          <h3>EDUCATION</h3>
        </div>
        <div class="job-desc"><h5>STANFORD UNIVERSITY</h5></div>
        <span>Master Degree Graduate<br></span>
        <span>2011 - 2013</span>

        <div class="job-desc"><h5>UNIVERSITY OF CHICAGO</h5></div>
        <span>Bachelor Degree Graduate<br></span>
        <span>2007 - 2010</span>
      </div>

      <div class="references">
        <div class="job-label" style="margin-bottom: 10px">
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
            <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"/>
          </svg>
          <h3>REFERENCES</h3>
        </div>

        <div class="job-desc"><h5>DARWIN B. MAGANA</h5></div>
        <p>2813 Shope Lane, Mancos, CO</p>
        <p>Tel: +1-970-533-3393</p>
        <p>Email:www.yourwebsite.com</p>

        <div class="job-desc" style="margin-top: 15px"><h5>ROBERT J. BELVIN</h5></div>
        <p>2119 Fairfax Drive, Newark, NJ</p>
        <p>Tel: +1-908-897-5103</p>
        <p>Email:www.yourwebsite.com</p>
      </div>
    </div>
  </div>
</div>
