.text_pr {
  margin-top: -100%;
  margin-left: 45%;
  width: 450px;

  .job-description {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
    //max-height: 0;
    //overflow: hidden;
    //transition: max-height 0.5s ease, opacity 0.5s ease;
  }

  span.years {
    font-size: 15px;
    color: #202020;
    font-weight: bold;
  }

  h1 {
    font-size: 28px;
    font-weight: bold;
    padding-left: 10px;
  }

  h2 {
    font-size: 23px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
  }
  .job-description.active {
    max-height: 200px; /* Коригуй висоту в залежності від контенту */
    opacity: 1;
  }

  .about_my {
    .text_about_my{

    }
    .ab_my {
      display: flex;
      align-items: baseline;

      h1 {
        cursor: pointer;
      }
    }

    h3 {
      font-size: 24px;
      color: #222;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
    }

    p {
      font-size: 16px;
      color: #444;
      margin-bottom: 5px;
    }

    /*.job-description {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease-out;
      // Додаємо плавний перехід для висоти, щоб текст розгортався плавно
    }

    .job-description.active {
      max-height: 200px; // Задаємо максимальну висоту при розгортанні (можна відкоригувати)
    }*/

  }

  .job_experience {
    margin-top: 50px;

    .job_exp {
      display: flex;
      align-items: baseline;
    }

    h3 {
      font-size: 24px;
      color: #222;
    }

    p {
      font-size: 16px;
      font-weight: 600;
      color: #444;
      margin-bottom: 5px;
      font-style: italic;
    }
  }

  .graphic_designer {
    p {
      font-size: 16px;
      font-weight: 600;
      color: #444;
      margin-bottom: 5px;
      font-style: italic;
    }
  }

  .marketing_manager {
    p {
      font-size: 16px;
      font-weight: 600;
      color: #444;
      margin-bottom: 5px;
      font-style: italic;
    }
  }

  .skills {
    margin-top: 50px;

    .skills_h {
      display: flex;
      align-items: baseline;
    }

    width: 100%;
    border: 2px solid #ffffff;

  }

  .skills_diagrams {
    width: 135%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .skills_diagrams_block {
    width: 45%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .der {
      font-size: 15px;
    }

    .diagrama {
      width: 40%;
      height: 7px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      border-radius: 20px;
      background-color: #cbcbcb;
      cursor: pointer;
    }

    .diagrama_left {
      width: 40%;
      height: 90%;
      background: #383838;
      border-radius: 20px 0 0 20px;
      transition: width 0.3s ease;
    }

    .diagrama_right {
      width: 20%;
      height: 90%;
      background: #cbcbcb;
      border-radius: 0 20px 20px 0;
    }
    .drag-handle {
      width: 10px; // Зона для захвату
      height: 100%;
      background-color: transparent; // Прозорий фон
      cursor: ew-resize; // Курсор перетягування
    }
  }
}

.language-n-hobby{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  .job-label{
    display: flex;
    align-items: center;

    position: relative;
    top: 20px;
    font-weight: bold;
    h3{
      font-weight: bold;
    }
  }
  .language-desc{
    position: relative;
    top: 20px;
  }
}
.hobby{
  .list{
    position: relative;
    top: 20px;
  }
}
.language-desc{
  display: flex;
  align-items: unset;
}
.list{
  display: inline-block;
  ul{
    margin: 0;
  }
}
.list li span{
  font-size: 16px;
}
.list li{
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 23px;
  font-weight: 550;
  margin-top: 0;
}
